<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @event.gmaps %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
