<h4><%= event.name %><%= link_to ' (link)', event.event_url %></h4>
<h5><%= event.address %></h5>
<h5><%= event.city %>, <%= event.state %> <%= event.zip_code %></h5> 
<h5>Description: </h5>
<h5><%= event.description.split(' ')[0..50].join(' ').html_safe %></h5>