<div class="floatme"><h1>FIJUMAPS.</h1></div>

<div id="map_canvas">
    <%= gmaps4rails(@json) %>
<div>

<div class="infoblock">
<table>
    <tr><td>
        <%= form_tag(searches_path, :method => "get") do %>
          <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Search") %>
        <% end %>

    </td><tr>
  <tr>
    <th>Event</th>
    <th>Group Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name[0..40], event.event_url %></td>
    <td><%= event.group_name[0..20] %></td>
    <td><%= event.address %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Location', root_path %>
