<div class="floatme"><h1>FIJUMAPS.</h1></div>

<div id="map_canvas">
    <%= gmaps4rails(@json) %>
<div>

<div class="infoblock">
<table>
    <tr><td>
        <%= form_for searches_path, :method => "get", class: 'form-horizontal' do |f| %>
          <%= f.label(:search_location, "Location:") %>
          <%= f.text_field :search_location, :value => location  %>
          <%= f.label "Date Range:" %>
          <%= f.date_select :start_time, :default => start_time %><br>
          <%= f.date_select :end_time, :default => end_time %>
          <%= f.submit "Search", class: "btn btn-primary" %><br>
        <% end %>

    </td><tr>
  <tr>
    <th>Event</th>+
    <th>Group Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name[0..40], event.event_url %></td>
    <td><%= event.group_name[0..20] %></td>
    <td><%= event.address %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Location', root_path %>
