<div class="floatme visible-desktop visible-tablet"><h1>FIJUMAPS.</h1></div>
<div class="floatme-mobile hidden-desktop hidden-tablet"><h3>FIJUMAPS.</h3></div>

<div id="map_canvas">
    <%= gmaps4rails(@json) %>
<div>

<div class="infoblock hidden-phone">
<table>
    <tr><td>
        <%= form_for searches_path, :method => "get", class: 'form-horizontal' do |f| %>
          <%= f.label(:search_location, "Location:") %>
          <%= f.text_field :search_location, :value => location  %>
          <%= f.label "Date Range:" %>
          <%= f.date_select :start_time, :default => start_time %><br>
          <%= f.date_select :end_time, :default => end_time %>
          <%= f.submit "Search", class: "btn btn-primary" %><br>
        <% end %>

    </td><tr>
  <tr>
    <th>Event</th>+
    <th>Group Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name[0..40], event.event_url %></td>
    <td><%= event.group_name[0..20] %></td>
    <td><%= event.address %></td>
  </tr>
<% end %>
</table>
</div>

<div class="infoblock-mobile visible-phone">
        <%= form_tag(searches_path, :method => "get", :class => "form-inline") do %>
          <%= label_tag(:q, "") %>
          <%= text_field_tag(:q,'San Francisco',:class => "input-medium") %>
          <%= submit_tag("Search", :class => "btn btn-primary") %>
        <% end %>
</div>

<br />

<%= link_to 'New Location', root_path %>
